.main {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  justify-content: space-evenly;
  padding: 0rem;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  border-radius: 0.75rem;
}

@media screen and (max-width: 767px) {
  .main {
    gap: 0vw;
  }
}

.page-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

main.responsive {
  padding: 0rem;
}

article {
  height: 100%;
  width: 100%;
  padding: 0.75rem;
  padding-bottom: 0rem;
}

.main > .post {
  flex-grow: 1;
  max-width: 32%;
}

@media screen and (max-width: 767px) {
  .main > .post {
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main > .post > article {
    border-bottom: solid var(--outline) 1px;
  }
}

.main > .post > article {
  border-radius: 0;
}

.main > .post > article:hover {
  filter: brightness(130%);
}

.main > .post > article.without-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10dvh;
}

@media screen and (max-width: 767px) {
  .main > .post > article {
    border-bottom: solid var(--outline) 1px;
  }
}

.main > .post > article > .article-meta {
  padding-top: 0.5rem;
}

.main > .post > article > a {
  width: inherit;
}


article.single-post > .markdown-body {
  background-color: var(--surface);
}

article.single-post > .markdown-body p {
  text-align: left;
}

article.single-post > .markdown-body > * {
  margin-bottom: .75rem !important;
}

article.single-post > .markdown-body > p:has(img) {
  text-align: center;
}

article.single-post > .markdown-body > p > img {
  object-fit: cover;
  object-position: center;
  max-height: 80dvh;
  max-width: 100%;
  text-align: center;
  border-radius: 0.75rem;
}

article.single-post > .markdown-body > .video {
  display: flex;
  justify-content: center;
}

article.single-post > .markdown-body > .video > video {
  max-height: 80dvh;
  max-width: 100%;
  border-radius: 0.75rem;
}

.lightense-backdrop {
  background-color: var(--background) !important;
}

.author_link {
  font-weight: bold;
  color: var(--outline);
}

.modal_status {
  top: 30%;
}


.deemphasisze {
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--outline)
}
